/2025-06-12_run_1
/2025-06-12_run_2
/BRAY_AJM2
/BRAY_FileTransfer
/GibbsResults
/Results
/ajm_dataset_cache.h5ad
/combined_job.sh
/cytoseed_ensembl_cache.pkl
/elbo
/elbo_convergence_20250521_170958.png
/elbo_convergence_20250521_171059.png
/elbo_convergence_20250522_140000.png
/elbo_convergence_20250522_144652.png
/elbo_convergence_20250612_132302.png
/masked_job.sh
/path_init_job.sh
/pathway_upsilon_plot.png
/pathways_ensembl_cache.pkl
/profile_output.prof
/svi.out
/svi_err.out
/test_gpu.py
/test_gpu_fixed.py
/unmasked_job.sh
/vi_experiment_path_9174114.err
/vi_experiment_path_9174114.out
vi_experiment_path_9177072.out
vi_experiment_path_9182105.out
vi_experiment_path_9182105.err
vi_experiment_path_9177072.err
vi_experiment_path_9182251.err
vi_experiment_path_9182251.out
vi_experiment_path_9182380.err
vi_experiment_path_9182380.out
vi_experiment_path_9174114.err
.gitignore
vi_experiment_path_9174114.out
vi_experiment_path_9182437.err
vi_experiment_path_9182437.out
vi_experiment_path_9183251.err
vi_experiment_path_9183251.out
vi_experiment_path_9183679.err
vi_experiment_path_9183679.out
vi_experiment_path_9183747.out
vi_experiment_path_9183747.err
vi_experiment_path_9183765.err
vi_experiment_path_9183765.out
vi_experiment_path_9183971.out
vi_experiment_path_9183971.err
vi_experiment_path_9184180.out
vi_experiment_path_9184180.err
vi_experiment_path_9185035.err
vi_experiment_path_9185035.out
.gitignore
vi_experiment_path_9186194.err
vi_experiment_path_9186194.out
gibbs_combined_job.sh
gibbs_init_job.sh
gibbs_masked_job.sh
gibbs_unmasked_job.sh
gibbs_combined_9188524.err
gibbs_combined_9188524.out
gibbs_initialized_9188523.err
gibbs_initialized_9188523.out
gibbs_masked_9188520.err
gibbs_masked_9188520.out
gibbs_unmasked_9188522.err
gibbs_unmasked_9188522.out
subset_vi.prof
gibbs_combined_9188649.err
gibbs_combined_9188649.out
gibbs_initialized_9188652.err
gibbs_initialized_9188652.out
gibbs_masked_9188653.err
gibbs_masked_9188653.out
gibbs_unmasked_9188654.err
gibbs_unmasked_9188654.out
vi_experiment_path_9188534.err
vi_experiment_path_9188534.out
gibbs_combined_2025-06-22_run_1/run.log
gibbs_unmasked_2025-06-22_run_1/script_error.log
gibbs_unmasked_2025-06-22_run_1/script_output.log
vi_experiment_mask_9188696.err
vi_experiment_mask_9188696.out
vi_experiment_path_9188695.err
vi_experiment_path_9188695.out
gibbs_combined_9188721.err
gibbs_combined_9188721.out
gibbs_initialized_9188720.err
gibbs_initialized_9188720.out
gibbs_masked_9188719.err
gibbs_masked_9188719.out
gibbs_unmasked_9188718.err
gibbs_unmasked_9188718.out
vi_experiment_mask_9188716.err
vi_experiment_mask_9188716.out
vi_experiment_path_9188717.err
vi_experiment_path_9188717.out
gibbs_combined_9189595.err
gibbs_combined_9189595.out
gibbs_unmasked_9189566.err
gibbs_unmasked_9189566.out
gibbs_masked_9189597.err
gibbs_masked_9189597.out
gibbs_combined_2025-06-22_run_2/run.log
gibbs_combined_2025-06-22_run_3/run.log
gibbs_combined_2025-06-22_run_4/run.log
gibbs_combined_2025-06-22_run_5/run.log
gibbs_combined_2025-06-23_run_1/run.log
gibbs_unmasked_2025-06-22_run_2/script_error.log
gibbs_unmasked_2025-06-22_run_2/script_output.log
gibbs_unmasked_2025-06-22_run_3/script_error.log
gibbs_unmasked_2025-06-22_run_3/script_output.log
gibbs_unmasked_2025-06-22_run_4/script_error.log
gibbs_unmasked_2025-06-22_run_4/script_output.log
gibbs_unmasked_2025-06-22_run_5/script_error.log
gibbs_unmasked_2025-06-22_run_5/script_output.log
gibbs_unmasked_2025-06-23_run_1/script_error.log
gibbs_unmasked_2025-06-23_run_1/script_output.log
gibbs_unmasked_2025-06-23_run_2/script_error.log
gibbs_unmasked_2025-06-23_run_2/script_output.log
gibbs_unmasked_9189600.err
gibbs_unmasked_9189600.out
gibbs_initialized_9189634.err
gibbs_initialized_9189634.out
gibbs_unmasked_9189642.err
gibbs_unmasked_9189642.out
cyto1_vs_0_downregulated_genes.csv
cyto1_vs_0_upregulated_genes.csv
gibbs_combined_9189796.err
gibbs_combined_9189796.out
gibbs_initialized_9189794.err
gibbs_initialized_9189794.out
gibbs_masked_9189793.err
gibbs_masked_9189793.out
gibbs_unmasked_9189792.err
gibbs_unmasked_9189792.out
gsea_hallmark_barplot.png
Analysis/gibbs1.png
Analysis/gibbs2.png
Analysis/gibbs3.png
Analysis/gpxx.png
Analysis/path-laplace-res.png
Analysis/perf.png
Analysis/unmasked1.png
Analysis/unmasked2.png
Analysis/unmasked3.png
gibbs_combined_2025-06-24_run_1/run.log
gibbs_unmasked_2025-06-24_run_1/script_error.log
gibbs_unmasked_2025-06-24_run_1/script_output.log
gibbs_combined_9191777.err
gibbs_combined_9191777.out
gibbs_initialized_9191776.err
gibbs_initialized_9191776.out
gibbs_masked_9191787.err
gibbs_masked_9191787.out
gibbs_unmasked_9191790.err
gibbs_unmasked_9191790.out
vi_experiment_path_9191861.err
vi_experiment_path_9191861.out
gibbs_combined_9197372.err
gibbs_combined_9197372.out
gibbs_initialized_9197374.err
gibbs_initialized_9197374.out
gibbs_masked_9197371.err
gibbs_masked_9197371.out
gibbs_unmasked_9197370.err
gibbs_unmasked_9197370.out
Gibbs/__pycache__/gibbs.cpython-311.pyc
gibbs_combined_2025-06-27_run_1/run.log
gibbs_unmasked_2025-06-27_run_1/script_error.log
gibbs_unmasked_2025-06-27_run_1/script_output.log
gibbs_unmasked_9199749.err
gibbs_unmasked_9199749.out
gibbs_unmasked_9199819.err
gibbs_unmasked_9199819.out
Gibbs/__pycache__/gibbs.cpython-311.pyc
gibbs_unmasked_2025-06-29_run_1/script_error.log
gibbs_unmasked_2025-06-29_run_1/script_output.log
emtab_init_job.sh
emtab_vi_experiment_path_9212655.err
emtab_vi_experiment_path_9212655.out
emtab_vi_experiment_path_9213300.err
emtab_vi_experiment_path_9213300.out
gibbs_unmasked_9200875.err
gibbs_unmasked_9200875.out
gibbs_unmasked_9210064.err
gibbs_unmasked_9210064.out
gibbs_unmasked_9213301.err
gibbs_unmasked_9213301.out
Gibbs/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
gibbs_unmasked_2025-07-02_run_1/script_error.log
gibbs_unmasked_2025-07-02_run_1/script_output.log
Gibbs/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
Gibbs/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
VariationalInference/__pycache__/data.cpython-311.pyc
VariationalInference/__pycache__/vi_model_complete.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
Gibbs/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
Gibbs/__pycache__/data.cpython-311.pyc
VariationalInference/__pycache__/vi_model_complete.cpython-311.pyc
VariationalInference/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
Gibbs/__pycache__/data.cpython-311.pyc
gibbs_unmasked_9213305.out
Gibbs/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/run_experiments.cpython-311.pyc
gibbs_unmasked_9213305.err
emtab_vi_experiment_path_9213309.err
emtab_vi_experiment_path_9213309.out
emtab_vi_experiment_path_9213311.err
emtab_vi_experiment_path_9213311.out
gibbs_unmasked_9213312.err
gibbs_unmasked_9213312.out
Gibbs/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
vi_experiment_path_9213772.err
vi_experiment_path_9213772.out
emtab_gibbs_unmasked_job.sh
emtab_vi_experiment_path_9213987.err
emtab_vi_experiment_path_9213987.out
vi_experiment_path_9213795.err
vi_experiment_path_9213795.out
vi_experiment_path_9213986.err
vi_experiment_path_9213986.out
VariationalInference/__pycache__/data.cpython-311.pyc
VariationalInference/__pycache__/vi_model_complete.cpython-311.pyc
Analysis/combined_analysis.ipynb
filtered_pathways_cache.pkl
gibbs_ajm_cyto_masked_9215551.err
gibbs_ajm_cyto_masked_9215551.out
gibbs_ajm_cyto_masked_job.sh
gibbs_ajm_cyto_unmasked_9215550.err
gibbs_ajm_cyto_unmasked_9215550.out
gibbs_emtab_unmasked_job.sh
Gibbs/minimal_test_results/drgp_matrix.csv.gz
Gibbs/minimal_test_results/results.pkl
Gibbs/minimal_test_results/test_predictions.csv.gz
Gibbs/minimal_test_results/train_predictions.csv.gz
Gibbs/minimal_test_results/val_predictions.csv.gz
Gibbs/test_results/test_emtab_test_unmasked_drgp_matrix.csv.gz
Gibbs/test_results/test_emtab_test_unmasked_results.pkl
Gibbs/test_results/test_emtab_test_unmasked_test_predictions.csv.gz
Gibbs/test_results/test_emtab_test_unmasked_train_predictions.csv.gz
Gibbs/test_results/test_emtab_test_unmasked_val_predictions.csv.gz
all_clusters_gene_expression.csv
all_genes_probability_correlation.csv
cluster_cluster_0_differential_expression.csv
cluster_cluster_0_gene_expression.csv
cluster_cluster_1_differential_expression.csv
cluster_cluster_1_gene_expression.csv
cluster_cluster_2_differential_expression.csv
cluster_cluster_2_gene_expression.csv
dge_cluster2_vs_label1.csv
emtab_vi_experiment_path_9217549.err
emtab_vi_experiment_path_9217549.out
genes_downregulated_with_probability.csv
genes_upregulated_with_probability.csv
gibbs_emtab_unmasked_9217738.err
gibbs_emtab_unmasked_9217738.out
matrix_colnames.csv
matrix_dims.csv
matrix_rownames.csv
matrix_sparse.csv
norm_matrix_colnames.csv
norm_matrix_dims.csv
norm_matrix_rownames.csv
norm_matrix_sparse.csv
raw_matrix_colnames.csv
raw_matrix_dims.csv
raw_matrix_rownames.csv
raw_matrix_sparse.csv
true_0_clusters.csv
vi_experiment_path_9217545.err
vi_experiment_path_9217545.out
2025-07-06_run_1/elbo_convergence_20250706_230433.png
2025-07-06_run_1/elbo_convergence_20250707_041949.png
Analysis/11.png
Analysis/22.png
Analysis/33.png
Gibbs/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
minimal_test_results/minimal_test_drgp_matrix.csv.gz
minimal_test_results/minimal_test_results.pkl
minimal_test_results/minimal_test_test_predictions.csv.gz
minimal_test_results/minimal_test_train_predictions.csv.gz
minimal_test_results/minimal_test_val_predictions.csv.gz
VariationalInference/__pycache__/vi_model_complete.cpython-311.pyc
VariationalInference/__pycache__/data.cpython-311.pyc
Gibbs/__pycache__/gibbs.cpython-311.pyc
Gibbs/__pycache__/data.cpython-311.pyc
